*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: #fff;
    color: #555;
    font-family: 'Lato','Arial','sans-serif';
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}
.row{
display: flex;
align-items: center;
justify-content: space-between;


}
.each-card-0, .each-card-1{
    width: 200px;
    height: 200;
    flex:1 1 21rem;
    margin: 10px, 20px;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,4);
}
body{
    background: #fefefe;
    font-family: sans-serif;
}
.body{
    background: #fefefe;
    font-family: sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 1100px;
    max-width: 100%;
    margin:0 auto;
    

}

.heading{
    text-align: center;
}


.hero-text-box{
    position: absolute;
    width:auto;
    top: 35%;
    margin-left: 35%;
    /*moves an the textbox on the img with the bottoms*/
    transform: translate(-50%,-50%);
}

/*header*/
header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.651), rgba(0, 0, 0, 0.432)), url(img/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 50vh;
    transition: 2s;
    overflow: hidden;
    border-radius: 10px;
}


/*navigation bar and logo*/
.logo{
    margin-top: 20px;
    margin-left: 10%;
    height: 65px;
    float: left;
    width:auto;
}

.main-Nav{
    float: right;
    list-style: none;
}

.main-Nav li{
    display: inline-block;
    margin-right: 55px;
    margin-top: 40px;
    
    
}
.main-Nav li a:link, 
.main-Nav li a:visited{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
}

.main-Nav li a:hover{
    color: #ffffff6b;
    transition: .5s;
}
h1{
    
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 4px;
    
}

/*the 2 buttons (can be reused on other pages)*/
.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.3s, border 0.3s, color 0.3s;
    margin-top: 1%;

}
.btn-full:link,
.btn-full:visited
{
    background-color:#e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited
{
    border: 1px solid #e67e22;
    color:#e67e22;
    
}

.btn:hover,
.btn:active
{
background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active
{
    border: 1px solid #cf6d17;
}

.btn-ghost:hover,
.btn-ghost:active
{
    border: 1px solid #cf6d17;
    color:white;
    
}